{% extends "index.html" %}
{% block pjaxsidecontainer %}
<div id="pjax-side-container" class="col-sm-9 wallet-main">

    <ol class="breadcrumb">
        <li><a href="/index">我的钱包</a></li>
        <li class="active">转账</li>
    </ol>
    <div id="alert_messages"></div>

    <section>
        <div id="pre-send" class="col-md-8 tab-pane active fade in">
            <form action="/transfer" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="target_address">转账至</label>
                    <div class="control-input">
                        <input id="target_address" class="form-control input-lg input-dcn selectized"
                               placeholder="电子邮箱、手机号、公钥地址或标签" value="" tabindex="-1" style="display: none;"
                               type="text">
                        <div class="selectize-control form-control input-lg input-dcn single">
                            <div class="selectize-input items not-full"><input autocomplete="off" tabindex="1"
                                                                               placeholder="电子邮箱、手机号、公钥地址或标签"
                                                                               style="width: 400px;" type="text"><a
                                    class="qr-scanner" href=""><i class="icon-dcn-f-qrcode"></i></a></div>
                            <div class="selectize-dropdown form-control input-lg input-dcn single"
                                 style="display: none;">
                                <div class="selectize-dropdown-content"></div>
                            </div>
                        </div>
                        <div class="help-block hide">
                            不能为空
                        </div>
                        <div class="help-block err16001 err16003 err16004 err16006 hide">
                            无效的接收地址
                        </div>
                        <div class="help-block err16005 hide">
                            无法转账给自己
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-fee" style="display:none">
                    <label class="control-label" for="tx_fee">矿工费</label>
                    <div class="control-input">
                        <select id="tx_fee" name="tx_fee" class="form-control input-lg input-dcn" tabindex="2">
                            <option value="0.0001">0.0001</option>
                            <option value="0.0005">0.0005</option>
                            <option value="0.001">0.001</option>
                            <option value="0.005">0.005</option>
                            <option value="0.01">0.01</option>
                        </select>
                        <div class="help-block err16008 hide">
                            无效的矿工费，范围0.0001 ~ 0.01BTC
                        </div>
                    </div>
                </div>
                <div class="form-group" data-amount-input-control="">
                    <label class="control-label" for="btc_amount">金额</label>
                    <div class="control-input">
                        <div class="row">
                            <div class="col-sm-6 col-btc">
                                <input id="btc_amount" name="btc_amount"
                                       class="form-control input-lg input-dcn btc-amount" placeholder="UNC"
                                       autocomplete="off" data-btc-input="" tabindex="2" onblur="rmb_amount.value=this.value">
                                <div class="help-block hide">
                                    无效的金额
                                </div>
                                <div class="help-block info info-balance hide" data-balance="0.00000000">
                                    当前余额: 0.00000000 BTC
                                </div>
                                <div class="help-block err16002 hide">
                                    金额范围应在0.0001~20000000之间
                                </div>
                                <div class="help-block err16007 hide">
                                    当前余额不足
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input id="rmb_amount" class="form-control input-lg input-dcn rmb-amount"
                                       placeholder="CNY" autocomplete="off" data-rmb-input="">
                                <div class="help-block hide">
                                    无效的金额
                                </div>
                                <div class="help-block info info-balance hide" data-balance="0.00">
                                    当前余额约: 0.00 CNY
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label id="internal_msg" class="control-label" for="leave_message">留言</label>
                    <label id="external_msg" class="control-label hide" for="leave_message">备注</label>
                    <div class="control-input">
                        <textarea id="leave_message" name="leave_message" class="form-control input-dcn" rows="4"
                                  placeholder="可选" tabindex="3"></textarea>
                    </div>
                </div>

                <div class="form-group form-action">
                    <label class="control-label">&nbsp;</label>
                    <div class="control-input">
                        <div id="external_warning" class="alert alert-warning hide">
                            注意：外部转账通过系统地址发出，此系统地址无法接收比特币。
                        </div>
                        <button type="submit" class="btn btn-lg btn-dcn btn-dcn-primary" tabindex="4">转账</button>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <!-- send confirm modal -->
    <div class="modal fade modal-send-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4>确认转账</h4>
                </div>
                <div class="modal-body">
                    <form id="md_send_confirm">


                        <div class="form-group row no-control">
                            <label class="control-label col-sm-2">转账至</label>
                            <label id="md_target_address" class="control-label"></label>
                        </div>

                        <div class="form-group row no-control">
                            <label class="control-label col-sm-2">金额</label>
                            <label id="md_btc_amount" class="control-label"></label><label class="control-label">&nbsp;BTC
                            ≈&nbsp;</label><label id="md_rmb_amount" class="control-label"></label><label
                                class="control-label">&nbsp;CNY</label>
                        </div>

                        <div class="form-group row no-control">
                            <label class="control-label col-sm-2">留言</label>
                            <label id="md_leave_message" class="control-label"></label>
                        </div>


                        <div class="form-group alert alert-dcn alert-warning">
                            <span class="form-control-static">手机、Google Authenticator 至少要绑定一个才可以发款</span>
                        </div>

                        <div class="form-group form-action">
                            <div class="control-input text-right">
                                <a href="/settings/#setting_security" target="_blank"
                                   class="btn btn-lg btn-dcn btn-dcn-primary">立即绑定</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- qr scanner modal -->
    <div class="modal fade modal-qr-scanner">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4>二维码扫描
                        <small class="text-muted">请选择允许打开摄像头</small>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="md_qr_reader" style="width:520px;height:410px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>g_contact_suggestion = '[]';</script>
    <script type="text/javascript">g_js_controller = "send";</script>
</div>
{% endblock %}