{% extends "index.html" %}

{% block menu %}
<nav class="menu">
    <div class="menu-header">我的钱包</div>
    <ul class="nav nav-stacked">
        <li><a href="/transfer">转账</a></li>
        <li><a href="/recharge">充值</a></li>
        <li><a href="/transactions">交易记录</a><sup class="bubble"></sup></li>
        <li><a href="/query">查询交易</a></li>
        <li><a href="/index">帐号设置</a></li>
    </ul>
</nav>
{% endblock %}

{% block pjaxsidecontainer %}
<div id="pjax-side-container" class="col-sm-9 wallet-main">
    <!--面包屑导航-->
    <ol class="breadcrumb">
        <li><a href="/dashboard/">我的钱包</a></li>
        <li class="active">交易记录</li>
    </ol>
    <section>
        <div class="table-responsive">
            <table class="table table-striped table-transactions">
                {% if txs %}
                <tbody>
                <tr>
                    <th nowrap>时间</th>
                    <th nowrap>类型</th>
                    <th nowrap>金额</th>
                    <th nowrap>对方公钥</th>
                    <th nowrap>交易ID</th>
                </tr>
                {% for tx in txs %}
                <tr>
                    <td>{{ tx.timestamp }}</td>
                    <td>{{ tx.operation }}</td>
                    <td>{{ tx.amount }}</td>
                    <td>{{ tx.owners_after }}</td>
                    <td>{{ tx.id }}</td>
                </tr>
                {% endfor %}
                </tbody>
                {% endif %}
            </table>
            <div class="well well-empty">
                {% if not txs %}
                <p class="empty-message">暂无交易记录</p>
                {% endif %}
                <p class="empty-actions">
                    <a href="/index">需要帮助</a> 或
                    <a href="/index">查阅上手指南</a>。
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}